# System Generated Info
.DS_Store


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Directory
/.build/
/.idea/

# bazel
/bazel-*

# project
/argcv-bzl.iml
/argcv-bzl.ipr
/argcv-bzl.iws

# generated tools

# vscode
/.vscode/*
!/.vscode/{c_cpp_properties.json


